header {
    transition: background-color 0.3s ease, color 0.3s ease;

    .nav-link {
        transition: color 0.2s ease;

        &.active,
        &:hover {
            color: var(--bs-primary) !important;
        }
    }
}