<header class="p-3 border-bottom shadow-sm" [class.bg-body]="true" [class.text-body]="true">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none text-body">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Logo">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/home" class="nav-link px-2 fw-semibold text-primary">Home</a></li>
                <li><a routerLink="/features" class="nav-link px-2 text-body">Features</a></li>
                <li><a routerLink="/pricing" class="nav-link px-2 text-body">Pricing</a></li>
                <li><a routerLink="/faqs" class="nav-link px-2 text-body">FAQs</a></li>
                <li><a routerLink="/about" class="nav-link px-2 text-body">About</a></li>
                <li><a routerLink="/support" class="nav-link px-2 text-body">Support</a></li>
            </ul>
            <div class="text-end">
                <button type="button" routerLink="/login" class="btn btn-outline-primary me-2" *ngIf="!isLoggedIn">
                    Login
                </button>
                <button type="button" routerLink="/register" class="btn btn-primary me-2" *ngIf="!isLoggedIn">
                    Sign-up
                </button>
                <button class="btn btn-primary theme-toggle" (click)="toggleTheme()">
                    <i
                        [ngClass]="{'bi bi-moon-stars-fill': themeService.isDark(), 'bi bi-sun-fill': !themeService.isDark()}"></i>
                </button>
            </div>
        </div>
    </div>
</header>